@import "animations";

body {
  background-color: #171b23;
}

.mdl-layout__header {
  background-color: transparent;
  box-shadow: none;
}

/* Card animation styles */
.fc-app:not( .fc-app--editing ) {
  .fc-cards {
    &--animating {
      .fc-card {
        transition: transform 200ms cubic-bezier(0.4, 1, 0.3, 1);
      }
    }

    &:not( .fc-cards--animating ) {
      .fc-card:last-of-type {
        transition: transform 200ms cubic-bezier(0.4, 1, 0.3, 1);
        transform: translateY(-5rem) scale(0.75);
      }
    }
  }
}

/* Card styles when not in admin mode */
.fc-app:not( .fc-app--editing ) {

  .fc-cards {
    &--animating {
      .fc-card {
        transition: transform 200ms cubic-bezier(0.4,1,0.3,1);
      }
    }
  }

  .fc-card {
    position: absolute;
    top: 90px;
    left: 10vw;
    right: 10vw;
    bottom: 100px;
    padding: 3rem;
    background: black;
    color: white;
    max-width: 50rem;
    margin: 0 auto;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 3px 17px rgba(0, 0, 0, 0.24);

    /* Only enlarge first card */
    &:first-child {
      z-index: 5;
      transform: translateY(0) scale(1);
      transition: top 150ms cubic-bezier(0.4,1,0.3,1);
      transition-property: top, right, bottom, left;
    }

    &:not( :first-child ) {
      pointer-events: none;
    }

    &--leaving {
      animation: cardAnimateOut 0.6s forwards;
    	animation-timing-function: ease-in;
    }

    &--message-revealed {
      top: 3rem;
      right: 1.5rem;
      left: 1.5rem;
      bottom: 7.5rem;

      .fc-card__meta--message {
        max-height: 80px;
        overflow: initial;
        transition-delay: 0;
      }

      .fc-card__message {
        max-height: 300px;
        opacity: 1;
        transition-delay: 150ms;
      }
    }

    &__title {
      margin: 0;
    }

    &__meta {
      &--message {
        max-height: 0;
        overflow: hidden;
        transition: all 150ms ease-in;
      }
    }

    &__message {
      margin: 0;
      opacity: 0;
      font-size: 2.5rem;
      transition: all 120ms ease-in;
    }

    &__minimize {
      opacity: 0;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      cursor: pointer;
      transition: opacity 200ms cubic-bezier(0.4,1,0.3,1);

      > i {
        color: white;
        font-size: 2rem;
      }

      &--visible {
        opacity: 1;
        transition-delay: 150ms;
      }
    }

  }
}

/* Next card button */
.fc-next-card {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  margin-left: -31px;
}





// $max-items: 5;
// @for $idx from 2 through $max-items {
//   $scale: 1 - ($idx / 12.5 - 0.10);
//
//   .fc-card:nth-child( #{$idx} ) {
//     transform: translateY( -#{2.5  * $idx}rem ) scale( #{$scale} );
//     z-index: $max-items - $idx + 1;
//   }
// }

.fc-card:nth-child(2) {
  transform: translateY(-2.5rem) scale(0.9);
  z-index: 4;
}
.fc-cards--animating .fc-card:nth-child(2) {
  transform: translateY(0) scale(1);
}

.fc-card:nth-child(3) {
  transform: translateY(-4rem) scale(0.85);
  z-index: 3;
}
.fc-cards--animating .fc-card:nth-child(3) {
  transform: translateY(-2.5rem) scale(0.9);
}


.fc-card:nth-child(4) {
  transform: translateY(-5.5rem) scale(0.8);
  z-index: 2;
}
.fc-cards--animating .fc-card:nth-child(4) {
  transform: translateY(-4rem) scale(0.85);
}


.fc-card:nth-child(5) {
  transform: translateY(-7rem) scale(0.75);
  z-index: 1;
}
.fc-cards--animating .fc-card:nth-child(5) {
  transform: translateY(-5.5rem) scale(0.8);
}
