<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/material-design-lite/material.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/firebase/firebase.js"></script>
    <script src="node_modules/vuefire/dist/vuefire.js"></script>
    <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="main.css" rel="stylesheet" />
    <style>
    </style>
  </head>
  <body>


    <div id="fc-app">
      <button @click="onToggleAdminMode">admin</button>
      <div id="fc-cards" class="fc-cards main-carousel">
        <fc-card
          v-for="(card, idx) in cards"
          v-bind:class="{ active: isActive && idx === 0 }"
          v-bind:card="card"
          v-bind:index="idx"
          v-bind:editable="isEditMode"
          v-on:edit="onEditCard(card)"
          v-on:remove="onRemoveCard(card)">
        </fc-card>
      </div>


      <br><br>
      <button class="fc-next-card mdl-button mdl-js-button mdl-button--fab mdl-button--colored" @click="onShowNewCard">
        <i class="material-icons">close</i>
      </button>
      <br><br>


      <form v-show="isEditMode" v-on:submit.prevent>
        <div class="mdl-textfield mdl-js-textfield">
          <input id="fc-new-card-title" class="mdl-textfield__input" type="text" v-model="card.title" />
          <label for="fc-new-card-title" class="mdl-textfield__label">Title</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input id="fc-new-card-message" class="mdl-textfield__input" type="text" v-model="card.message" />
          <label for="fc-new-card-message" class="mdl-textfield__label">Message</label>
        </div>

          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="onAddCard">Create</button>
        </div>
      </form>
    </div>

    <script>
      /* Init Firebase */
      var firebaseApp = firebase.initializeApp({
        apiKey: "AIzaSyCGc_fAzVNfsoxzZMrjs9MVa80fCqpHKOo",
        authDomain: "flash-cards-cbaad.firebaseapp.com",
        databaseURL: "https://flash-cards-cbaad.firebaseio.com",
        storageBucket: "flash-cards-cbaad.appspot.com",
        messagingSenderId: "133889146168"
      }).database();

      /* Reference Firebase DB */
      var cardsRef = firebaseApp.ref('cards');

      /* Init Vue JS */
      var app = new Vue({
        el: '#fc-app',
        data: {
          title: 'Flashcards',
          isEditMode: false,
          isActive: false,
          bgColors: ['cornflowerblue', 'tomato', 'teal', 'mediumspringgreen', 'darkslateblue', 'dimgrey'],
          card: {
            title: '',
            message: '',
            bgColor: 'cornflowerblue',
            edited: {
              title: '',
              message: ''
            }
          }
        },
        updated: function() {

        },
        firebase: {
         cards: cardsRef.limitToLast(25)
        },
        methods: {
          onAddCard (e) {
            cardsRef.push({ title: this.card.title, message: this.card.message, bgColor: this._selectBgColor() });
          },
          onEditCard(card) {
            cardsRef.child(card['.key']).child('title').set(card.title);
            cardsRef.child(card['.key']).child('message').set(card.message);
          },
          onRemoveCard(card) {
            cardsRef.child(card['.key']).remove();
          },
          onToggleAdminMode() {
            this.isEditMode = !this.isEditMode;
          },
          onShowNewCard() {
            this.isActive = true;

            setTimeout((card) => {
              this.cards.push(this.cards.shift()); /* remove first card and push it to the end of cards array */
              this.isActive = false;
            }, 600);
          },
          _selectBgColor() {
            let color = this.bgColors[0]; /* select first color */
            this.bgColors.push(this.bgColors.shift()); /* move first color to end of array */
            return color;
          }
        }
      });

      Vue.component('fc-card', {
        data: function() {
          return {
            showEditForm: false,
            isMessageToggled: false,
            isActive: false,
            cardEdited: {
              title: this.card.title,
              message: this.card.message
            }
          }
        },
        methods: {
          onToggleEditForm($event) {
            if($event && $event.relatedTarget && $event.relatedTarget.classList.contains('btn--submit')) {
              return;
            }

            this.showEditForm = !this.showEditForm;
          },
          onEditCard(edited) {
            this.card.title = this.cardEdited.title;
            this.card.message = this.cardEdited.message;
            this.onToggleEditForm();
            this.$emit('edit');
          },
          onToggleMessage() {
            this.isMessageToggled = !this.isMessageToggled;
          }
        },
        template: '\
          <div class="fc-card" v-on:click="onToggleMessage()" v-bind:style="{ background: card.bgColor }">\
            <div class="fc-card__container" v-bind:class="{ showMessage: isMessageToggled }">\
              <div class="fc-card__meta fc-card__meta--title">\
                <h2 class="fc-card__title">{{ card.title }}</h2><br>\
              </div>\
              <div class="fc-card__meta fc-card__meta--message">\
                <p class="fc-card__message">{{ card.message }}</p>\
              </div>\
              <div class="fc-card__controls">\
                <button v-if="editable" class="btn btn--delete" v-on:click="$emit(\'remove\')">&times;</button>\
                <button v-if="editable" class="btn btn--submit" v-on:click="onToggleEditForm()">edit</button>\
                <form v-if="showEditForm" v-on:submit.prevent>\
                  <input name="title" v-focus v-model="cardEdited.title" />\
                  <input name="message" v-model="cardEdited.message" />\
                  <button class="btn btn--submit" v-if="showEditForm" v-on:click="onEditCard()">update card</button>\
                </form>\
              </div>\
            </div>\
          </div class="card">\
        ',
        props: ['card', 'editable']
      })

      Vue.directive('focus', {
        inserted: function (el) {
          el.focus()
        }
      })

    </script>
  </body>
</html>
